@import "../../globals.scss";

.bio {
    @include content-wrapper;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include small-screen {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__flex {
        display: flex;

        @include small-screen {
            flex-direction: column-reverse;
        }
    }

    &__album-column {
        text-align: center;
    }

    &__album-wrapper {
        $album-width: 30rem;
        width: $album-width;
        max-width: 100%;
        height: $album-width;
        margin: 1.9rem auto 0;
        background-color: $background-red;
    }

    &__album-caption {
        margin-top: 1rem;
    }

    &__bio-column {
        margin-left: 8rem;

        @include small-screen {
            margin: 0 0 2rem;
        }

        p {
            margin-bottom: 1rem;
            text-align: justify;
        }
    }

    &__bio-heading {
        font-size: $font-size-h2;
        margin-bottom: 1rem;
        text-align: left;
        display: inline;
    }

    &__artists {
        font-weight: bold;
        font-size: $font-size-h5;
        padding: 2rem 0;
    }
}