@import "../../globals.scss";

.contact-success {
    &__page-wrapper {
        padding: 2rem 4rem;
        background-color: $primary-background-color;
        flex-grow: 2;

        @include small-screen {
            padding: 1rem 2rem;
        }
    }

    &__heading {
        font-size: $font-size-h2;
        margin: 2rem 0;
        outline: none;

        @include small-screen {
            font-size: $font-size-h3;
        }
    }

    &__sub-heading {
        font-size: $font-size-h4;
        margin-bottom: 2rem;

        @include small-screen {
            font-size: $font-size-h5;
        }
    }
}
