@import "../../globals.scss";

.form {
    padding-top: 2rem;

    textarea {
        resize: none;
        font-family: $sans-serif;
    }

    &__heading {
        padding-bottom: 2rem;
        font-size: $font-size-h4;
        text-align: center;
    }

    &__form-element {
        padding-bottom: 2rem;
    }

    &__label {
        font-size: $font-size-h6;
        display: block;
        padding-bottom: 1rem;
    }

    &__input {
        width: 100%;
        font-size: $font-size-h5;
        padding: 0.5rem;
    }

    &__error {
        color: $background-red;
        padding-top: 0.5rem;
    }

    &__submit {
        font-size: $font-size-h5;
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem 2rem;
        @include transition(0.2s all);

        &:hover {
            background-color: $background-blue;
            color: white;
            cursor: pointer;
        }
    }
}
