@import "../../globals.scss";

.hero {
  position: relative;
  transform-style: preserve-3d;
  height: $hero-image-height;
  background-color: rgba(0, 0, 0, 0.2);

  &__background-layer {
    transform: translateZ(-300px) scale(2.5);
    position: absolute;
    top: -5vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0;
    background-image: url("../../images/hero-bw.jpeg");
  }

  &__hero-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 4vh;
    box-sizing: border-box;
  }

  &__hero-title {
    color: white;
    text-align: left;
    font-size: 4vw;
    font-weight: 300;
    padding-left: 4rem;

    @include small-screen {
      font-size: $font-size-h3;
      padding-left: 2rem;
    }
  }
}
